h2 Skills

p Languages: Ruby, HTML, Slim, CSS, Sass, JavaScript, CoffeeScript
p Frameworks: Ruby on Rails, MiniTest, Capybara, Capistrano, jQuery
p Tools: Linux, MySQL, Redis, Resque, Memcache, Elasticsearch, New Relic, Honeybadger, Amazon EC2, Amazon Cloudfront, Twilio, Google Analytics, Optimizely
p Methodologies: Scrum, Test-driven development
